{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Itex test</title>
{% endblock %}


{% block content %}
	{#SLIDER#}
	<div class="slider">
		<div class="slider__container">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide slider__item" style="background-image: url(img/slider-1.jpg)">
						<div class="slider__item-wrap container">
							<div class="slider__title-text">профессиональная техника в аренду от</div>
							<div class="slider__price">
								<p class="slider__price-number">15000</p>
								<p class="slider__price-text">руб./сутки</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slider__item" style="background-image: url(img/slider-1.jpg)">
						<div class="slider__item-wrap container">
							<div class="slider__title-text">профессиональная техника в аренду от</div>
							<div class="slider__price">
								<p class="slider__price-number">15001</p>
								<p class="slider__price-text">руб./сутки</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide slider__item" style="background-image: url(img/slider-1.jpg)">
						<div class="slider__item-wrap container">
							<div class="slider__title-text">профессиональная техника в аренду от</div>
							<div class="slider__price">
								<p class="slider__price-number">15002</p>
								<p class="slider__price-text">руб./сутки</p>
							</div>
						</div>
					</div>

				</div>
				<div class="slider__buttons-wrap container">
					<div class="swiper-pagination slider__pagination"></div>
					<div class="swiper-button-prev slider__button slider__button_prev"></div>
					<div class="swiper-button-next slider__button slider__button_next"></div>
				</div>
			</div>
		</div>
	</div>
	{#/SLIDER#}

	{#CATALOG-BLOCK#}
	<div class="catalog">
		<div class="catalog__container container">

			{#BREADCRUMBS#}
			<div class="breadcrumbs">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Каталог</a>
				<span class="breadcrumbs__item">Название товара</span>
			</div>
			{#/BREADCRUMBS#}

			{#CATALOG#}
			<div class="catalog__item">
				<form>
					<div class="catalog__item-wrap">
						<img src="img/img-1.jpg" class="catalog__photo">
						<div class="catalog__descr">
							<div class="catalog__title">JCB 4CX Super</div>
							<div class="catalog__collapse-block">
								<div class="catalog__collapse-header js-collapse">
									<p class="catalog__collapse-name">Характеристики</p>
									<div class="catalog__collapse-arrow catalog__collapse-arrow_show"></div>
								</div>
								<div class="catalog__collapse-main catalog__collapse-main_show">
									<div class="catalog__collapse-item js-char">
										<div class="input-holder">
											<input id="char_1" type="radio" name="char" class="input js-radio" checked="checked" data-price="125.000 Р.">
										</div>
										<label for="char_1" class="catalog__radio-btn-name" >Характеристика 1</label>
									</div>
									<div class="catalog__collapse-item js-char">
										<div class="input-holder">
											<input id="char_2" type="radio" name="char" class="input js-radio" data-price="225.000 Р.">
										</div>
										<label for="char_2" class="catalog__radio-btn-name">Характеристика 2</label>
									</div>
									<div class="catalog__collapse-item js-char">
										<div class="input-holder">
											<input id="char_3" type="radio" name="char" class="input js-radio" data-price="325.000 Р.">
										</div>
										<label for="char_3" class="catalog__radio-btn-name">Характеристика 3</label>
									</div>
								</div>
							</div>
							<div class="catalog__collapse-block">
								<div class="catalog__collapse-header js-collapse">
									<p class="catalog__collapse-name"> Информация </p>
								<div class="catalog__collapse-arrow"></div>
							</div>
							<div class="catalog__collapse-main">
								<p class="catalog__collapse-text">Some infirmation...</p>
							</div>
						</div>
							<div class="catalog__bottom">
								<div id="price" class="catalog__price">125.000 Р.</div>
								<button class="catalog__btn btn">заказать</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			{#/CATALOG#}
		</div>
	</div>
	{#/CATALOG-BLOCK#}

	{#SERVICES#}
	<div class="servises">
		<div class="servises__title">услуги</div>
		<div class="servises__main">
			<div class="servises__container container">
				<div class="servises__item">
					<div class="servises__item-img-wrap">
						<img src="img/helmet.jpg" class="servises__item-img">
					</div>
					<div class="servises__item-text-block">
						<div class="servises__item-title">засыпка траншей</div>
						<div class="servises__item-text">Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.</div>
					</div>
				</div>
				<div class="servises__item">
					<div class="servises__item-img-wrap">
						<img src="img/helmet.jpg" class="servises__item-img">
					</div>
					<div class="servises__item-text-block">
						<div class="servises__item-title">вывоз мусора</div>
						<div class="servises__item-text">Вывоз мусора — составляющая деятельности производств и бытовых предприятий</div>
					</div>
				</div>
				<div class="servises__item">
					<div class="servises__item-img-wrap">
						<img src="img/helmet.jpg" class="servises__item-img">
					</div>
					<div class="servises__item-text-block">
						<div class="servises__item-title">доставка</div>
						<div class="servises__item-text">Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.</div>
					</div>
				</div>
				<div class="servises__item">
					<div class="servises__item-img-wrap">
						<img src="img/helmet.jpg" class="servises__item-img">
					</div>
					<div class="servises__item-text-block">
						<div class="servises__item-title">подъем грузов</div>
						<div class="servises__item-text">Выполнение широкого спектра высотных операций сложно представить без специализированной техники.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/SERVICES#}
	
	{#TODO-LIST#}
		{#<div class="todo">#}
			{#<div class="todo__container container">#}
				{#<div class="todo__text todo__text_title">заголовок</div>#}
				{#<ol id="list" class="todo__list">#}
					{#<li class="todo__item">#}
						{#<p class="todo__text js-text">Задача 1</p>#}
						{#<button class="todo__btn todo__btn_edit"></button>#}
						{#<button class="todo__btn todo__btn_delete js-delete"></button>#}
					{#</li>#}
					{#<li class="todo__item">#}
						{#<p class="todo__text js-text">Задача 2</p>#}
						{#<button class="todo__btn todo__btn_edit"></button>#}
						{#<button class="todo__btn todo__btn_delete js-delete"></button>#}
					{#</li>#}
				{#</ol>#}
				{#<div class="todo__editor">#}
					{#<input type="text" class="todo__input" id="input">#}
					{#<button class="todo__btn todo__btn_add js-add"></button>#}
					{#<button class="todo__btn todo__btn_delete js-clear"></button>#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
	{#TODO-LIST#}

	{#MAP#}
	<div id="map" class="map"></div>
	{#/MAP#}

{% endblock %}