<div class="footer">
	<div class="footer__container container">
		<div class="footer__menu-logo">
			<a href="#" class="footer__logo-wrap">
				<img src="img/logo-yellow.png" class="footer__logo">
			</a>
			<div class="footer__menu">
				<a href="#" class="footer__menu-item footer__menu-item_active">Главная</a>
				<a href="#" class="footer__menu-item">Каталог техники</a>
				<a href="#" class="footer__menu-item">Услуги</a>
				<a href="#" class="footer__menu-item">Выполненные работы</a>
				<a href="#" class="footer__menu-item">О компании</a>
				<a href="#" class="footer__menu-item">Контакты</a>
			</div>
		</div>
		<div class="footer__info">
			<p class="footer__copyright">© Aйтекс start 2016</p>
			<p class="footer__about">
				<a href="www.itexstart.ru" class="footer__logo-company"></a>
				<a href="www.itexstart.ru" class="footer__site-company">itexstart.ru</a>
			</p>
		</div>
	</div>
</div>