{#HEADER#}
<div class="header">
	<div class="header__top-line"></div>

	{#TITLE#}
	<div class="header__title">
		<div class="header__container container">
			<a href="#" class="header__logo-title">
				<img class="header__logo" src="img/logo.png">
				<div class="header__name">Услуги строительной техники</div>
			</a>
			<div class="header__contacts">
				<p class="header__text">г. Екатеринбург,  ул.Маяковского, 25</p>
				<a href="tel:+73432222017" class="header__text header__text_phone">+7 (343) 222-20-17</a>
			</div>
		</div>
	</div>
	{#/TITLE#}

	{#MENU#}
	<div class="header__menu">
		<div class="header__menu-container container">
			<div class="header__menu-logo" style="background-image: url(img/road-sign-home.png)"></div>
			<div class="header__menu-list">
				<a href="#" class="header__menu-item header__menu-item_active">каталог техники</a>
				<a href="#" class="header__menu-item">услуги</a>
				<a href="#" class="header__menu-item">выполненые работы</a>
				<a href="#" class="header__menu-item">о компании</a>
				<a href="#" class="header__menu-item">контакты</a>
			</div>
		</div>
	</div>
	{#/MENU#}


</div>
{#/HEADER#}