<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOStnHemtAPIe1-hMuj7pi6wCpJoh2Sgk"></script>

	<style>
		body {
			opacity: 0;
		}
	</style>
</head>

<body>

<div class="all-wrap">

	{% block header %}
		{% include 'parts/header.twig' %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
		{% include 'parts/footer.twig' %}
	{% endblock %}

</div>

<!-- uncache -->
<link rel="stylesheet" href="css/main.min.css">
<!-- enduncache -->

{% block scripts %}
<!-- uncache -->
<script src="scripts/app.min.js"></script>
<!-- enduncache -->
{% endblock %}

</body>
</html>