.btn {
	color: black;
	.font-size(12);
	.regular();
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;

	padding: 0 40px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
	border-radius: 3px;
	border: 2px solid #fab500;
	background-color: black;
	background-image: linear-gradient(to top, #fab500 0%, #fdcf03 100%);
	&:hover {
		border: 2px solid #fdce03;
		background-color: black;
		text-decoration: underline;
	}
}