@fonts: "../fonts/";

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext');

.regular() {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.bold() {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.eot');
	src: url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
	url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
	url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
	url('@{fonts}MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.myriad() {
	font-family: 'Myriad Pro';
	font-weight: 400;
}

