.iradio {
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	padding: 3px;
	position: relative;
	border: 2px solid #000000;
	cursor: pointer;
	&:after {
		content: '';
		width: 20px;
		height: 20px;
		background: black;
		pointer-events: none;
		display: none;
	}
	&.checked {
		&:after {
			display: block;
		}
	}
}