.breadcrumbs {

	&__item {
		.font-size(12);
		color: #ffb802;
		.regular();
		position: relative;
		text-decoration: none;
		margin-right: 5px;
		&:after {
			content: '/';
			position: absolute;
			color: black;
			top: 0;
			right: -7px;
		}
		&:last-child {
			color: black;
			&:after {
				content: '';
			}
		}
	}
}