.footer {
	background-color: black;

	&__container {
		display: flex;
		padding-top: 29px;
		padding-bottom: 25px;
		justify-content: space-between;
	}
	&__menu-logo {
		display: flex;
	}
	&__logo-wrap {
		text-decoration: none;
		margin-right: 100px;
	}
	&__logo {
		width: 147px;
		height: 57px;
	}
	&__menu {
		display: flex;
		width: 355px;
		flex-wrap: wrap;
	}
	&__menu-item {
		.myriad();
		font-size: 14px;
		line-height: 2.14;
		color: #818180;
		margin-right: 30px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: #d3d3d3;
		}
		&_active {
			position: relative;
			color: #d3d3d3;
			&:before {
				content: '>';
				position: absolute;
				color: #ffbb02;
				left: -15px;
				top: 0;
			}
		}
	}
	&__info {}
	&__copyright {
		color: #d3d3d3;
		.font-size(14);
		margin-bottom: 26px;
		.myriad();
	}
	&__about {
		display: flex;
		align-items: center;
	}
	&__logo-company {
		background: url(../img/logo-icon.png) no-repeat center center;
		background-size: contain;
		width: 20px;
		height: 20px;
		margin-left: 10px;
		margin-right: 22px;
		text-decoration: none;

	}
	&__site-company {
		color: #d3d3d3;
		.font-size(14);
		.myriad();
		&:hover {
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 800px) {
	.footer {
		&__menu {
			width: 100%;
		}
		&__logo-wrap {
			margin-right: 50px;
		}
		&__container {
			flex-direction: column;
		}
		&__info {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-top: 10px;
			padding: 0 20px;
		}
		&__about {
			display: flex;
			align-self: flex-start;
		}
		&__copyright {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 500px) {
	.footer {
		&__menu-logo {
			flex-direction: column-reverse;
		}
		&__info {
			margin-top: -50px;
			justify-content: flex-end;
			flex-direction: column;
		}
		&__about {
			align-self: flex-end;
		}
		&__copyright {
			margin-bottom: 10px;
		}
	}
}