.header {

	&__top-line {
		height: 9px;
		background-color: black;
	}
	&__title {
		background-color: #ffc600;
	}
	&__container {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo-title {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__logo {
		max-width: 146px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin-right: 17px;
	}
	&__name {
		width: 154px;
		color: #000000;
		.font-size(14);
		line-height: 1.71;
		.bold();
		text-transform: uppercase;
	}
	&__contacts {
		text-align: right;
	}
	&__text {
		width: 221px;
		color: #000000;
		.font-size(14);
		.regular();
		&_phone {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__menu {
	}
	&__menu-container {
		display: flex;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	&__menu-logo {
		min-width: 35px;
		height: 34px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin-right: 50px;
	}
	&__menu-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__menu-item {
		margin-right: 40px;
		text-transform: uppercase;
		color: #818180;
		.font-size(14);
		.regular();
		text-decoration: none;
		white-space: nowrap;
		&:hover {
			text-decoration: underline;
		}
		&_active {
			color: #010101;
		}
	}

}

@media screen and (max-width: 850px) {
	.header {
		&__menu-item {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 650px) {
	.header {
		&__container {
			display: block;
		}
		&__logo-title {
			justify-content: center;
		}
		&__contacts {
			text-align: left;
		}
		&__text{
			margin-right: auto;
			margin-left: auto;
			&_phone {
				display: block;
			}
		}
		&__menu-logo {
			display: none;
		}
	}
}

@media screen and (max-width: 400px) {
	.header {
		&__logo-title {
			flex-direction: column;
		}
		&__name {
			margin-top: 10px;
			width: 100%;
			text-align: center;
		}
		&__menu-list {
			margin-right: auto;
			margin-left: auto;
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

