.catalog {

	&__container {
		padding-top: 45px;
	}
	&__item {
		margin-top: 65px;
		padding-bottom: 45px;
		border-bottom: solid 2px #818180;
	}
	&__item-wrap {
		display: flex;
	}
	&__photo {
		margin-right: 29px;
		width: 295px;
		height: 295px;
	}
	&__descr {
		width: 100%;
	}
	&__title {
		color: black;
		.font-size(20);
		.bold();
		margin-bottom: 25px;
	}
	&__collapse-block {
		margin-bottom: 18px;
	}
	&__collapse-header {
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
		border-radius: 3px;
		border: 1px solid #cdcdcd;
		background-color: #ffffff;
		padding: 9px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&:hover {
			background-color: #f3f3f3;

		}
	}
	&__collapse-arrow {
		background: url(../img/arrow-left.png) no-repeat center center;
		background-size: contain;
		width: 21px;
		height: 21px;
		transform: rotate(-90deg);
		&_show {
			transform: rotate(90deg);
		}

	}
	&__collapse-name {
		color: black;
		.font-size(24);
		.bold();
	}
	&__collapse-main {
		padding-top: 30px;
		padding-bottom: 12px;
		display: none;
		&_show  {
			display: block;
		}
	}
	&__collapse-item {
		display: flex;
		margin-bottom: 15px;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__radio-btn-name {
		color: black;
		.font-size(16);
		.regular();
		margin-left: 20px;
		cursor: pointer;
	}
	&__collapse-text {}
	&__bottom {
		display: flex;
	}
	&__price {
		padding: 8px 0;
		color: black;
		.font-size(24);
		.bold();
		margin-right: 53px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 920px) {
	.catalog {

		&__container {
			padding-top: 30px;
		}
		&__item {
			margin-top: 30px;
			padding-bottom: 30px;
		}
	}
}

@media screen and (max-width: 650px) {
	.catalog {

		&__container {
			padding-top: 15px;
		}
		&__item {
			margin-top: 15px;
			padding-bottom: 15px;
		}
		&__item-wrap {
			flex-direction: column;
		}
		&__photo {
			margin-right: 0;
			align-self: center;
		}
		&__descr {
			margin-top: 10px;
		}
	}
}