.map {
	height: 430px;
}

@media screen and (max-width: 920px) {
	.map {
		height: 380px;
	}
}

@media screen and (max-width: 720px) {
	.map {
		height: 320px;
	}
}

@media screen and (max-width: 520px) {
	.map {
		height: 240px;
	}
}