.servises {
	margin-top: 50px;

	&__title {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
		color: black;
		.font-size(24);
		line-height: 1;
		.bold();
	}
	&__main {
		background-color: #ffc600;
	}
	&__container {
		padding-top: 48px;
		padding-bottom: 55px;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		width: calc(~'50% - 15px');
		margin-right: 15px;
		margin-bottom: 71px;
		&:nth-child(2n) {
			margin-right: 0;
			width: 50%;
		}
		&:nth-child(n+3) {
			margin-bottom: 0;
		}
	}
	&__item-img-wrap {
		margin-right: 48px;
		width: 162px;
		flex-shrink: 0;

	}
	&__item-img {
		max-width: 100%;
	}
	&__item-text-block {}
	&__item-title {
		color: black;
		.font-size(20);
		line-height: 1.2;
		.bold();
		text-transform: uppercase;
		margin-bottom: 34px;
	}
	&__item-text {
		color: black;
		.font-size(14);
		line-height: 1.71;
		.regular();
	}
}

@media screen and (max-width: 920px) {
	.servises {
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			&:nth-child(n+3) {
				margin-bottom: 20px;
			}
			&:nth-child(2n) {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.servises {
		margin-top: 40px;

		&__container {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		&__item-img {
			margin-right: 28px;
			width: 100px;
			height: 100px;
		}
		&__item-title {
			.font-size(16);
			margin-bottom: 10px;
		}
		&__item-text {
			line-height: 1.3;
		}
	}
}
