.slider {

	&__container {}
	&__item {
		height: 551px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__title-text {
		width: 202px;
		color: #000000;
		.font-size(14);
		line-height: 1.71;
		.bold();
		margin-left: 420px;
		margin-top: 30px;
		text-transform: uppercase;
	}
	&__price {
		text-align: right;
		margin-left: 520px;
		margin-top: -25px;
	}
	&__price-number {
		color: #ffffff;
		.font-size(60);
		width: 166px;
		line-height: 1;
		.bold();
	}
	&__price-text {
		width: 166px;
		color: #000000;
		.font-size(24);
		line-height: 1;
		.bold();
	}
	&__buttons-wrap {
		position: relative;
	}
	&__button {
		background: url(../img/arrow-left.png) no-repeat center center;
		background-size: cover;
		width: 30px;
		height: 31px;
		z-index: 10;
		&_prev {
			top: -40px;
			left: 440px;
		}
		&_next {
			top: -10px;
			left: 470px;
			transform: rotate(180deg);
		}
	}
	&__pagination {
		top: -480px;
		right: 30px;
		.swiper-pagination-bullet {
			display: block;
			width: 15px;
			height: 15px;
			background-color: black;
			border-radius: 0;
			margin-bottom: 15px;
			opacity: 1;
			&-active {
				background-color: white;
			}
		}
	}
}
@media screen and (max-width: 920px) {
	.slider {
		&__item {
			height: 300px;
		}
		&__title-text {
			margin-right: 100px;
			margin-left: auto;
			margin-top: 15px;
		}
		&__price {
			margin-right: 50px;
			margin-left: auto;
		}
		&__price-number {
			.font-size(50);
			width: 100%;
		}
		&__price-text {
			width: 100%;
			.font-size(18);
		}
		&__button {
			&_prev {
				top: -10px;
				left: 45%;
			}
			&_next {
				top: -10px;
				left: 50%;
				transform: rotate(180deg);
			}
		}
		&__pagination {
			top: -250px;
			right: 20px;
		}
	}
}

@media screen and (max-width: 650px) {
	.slider {
		&__item {
			height: 200px;
		}
		&__title-text {
			margin-right: 30px;
			margin-left: auto;
			margin-top: 10px;
			line-height: 1.3;
		}
		&__price {
			margin-right: 30px;
			margin-left: auto;
			margin-top: -18px;
		}
		&__price-number {
			.font-size(30);
		}
		&__price-text {
			.font-size(14);
		}
		&__button {
			width: 15px;
			height: 15px;
			&_prev {
				top: 0;
				left: 45%;
			}
			&_next {
				top: 0;
				left: 50%;
				transform: rotate(180deg);
			}
		}
		&__pagination {
			top: -180px;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				margin-bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.slider {
		&__title-text {
			width: 100%;
			.font-size(10);
			margin-right: 10px;
			//margin-top: 5px;
			line-height: 1;
			text-align: right;
		}
		&__price {
			margin-right: 0;
			margin-left: auto;
			margin-top: 0;
		}
		&__price-number {
			.font-size(24);
		}
		&__price-text {
			.font-size(10);
		}
		&__pagination {
			display: none;
		}
	}
}
