.todo {

	&__container {
		padding-top: 64px;
		padding-bottom: 100px;
	}
	&__text {
		color: #000000;
		.font-size(24);
		line-height: 1;
		.bold();
		margin-right: 45px;

		&_title {
			text-transform: uppercase;
			margin-bottom: 34px;
		}
	}
	&__list {}
	&__item {
		margin-bottom: 30px;
		display: flex;
		align-items: center;
	}
	&__btn {
		appearance: none;
		border:none;
		cursor: pointer;
		width: 18px;
		height: 18px;

		&_edit {
			background: url(../img/icon-pen.png) no-repeat center center;
			margin-right: 25px;
		}
		&_delete {
			background: url(../img/icon-del.png) no-repeat center center;
		}
		&_add {
			background: url(../img/icon-check.png) no-repeat center center;
			margin-right: 25px;

		}
	}
	&__input {
		margin-right: 33px;
		height: 40px;
		padding: 0 15px;
		width: 56%;
		box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.35);
		border-radius: 5px;
		border: 1px solid #535353;
		background-color: #ffffff;

		color: #000000;
		.font-size(24);
		line-height: 1;
		.bold();
	}
}

@media screen and (max-width: 460px) {
	.todo {

		&__container {
			padding-top: 20px;
			padding-bottom: 40px;
		}
		&__text {
			.font-size(16);
			margin-right: 20px;
			&_title {
				margin-bottom: 20px;
			}
		}
		&__item {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
		}
		&__btn {
			&_edit {
				margin-right: 15px;
			}
			&_add {
				margin-right: 15px;
			}
		}
		&__input {
			margin-right: 20px;
			height: 30px;
			padding: 0 10px;
			.font-size(16);
		}
	}
}